@import "colors";

.btn {
	padding: 12px 16px;
	border: 0;
	border-radius: 4px;
	font-weight: bold;
	font-size: 0.8em;
	a {color: inherit}
	
	&:hover {
		cursor: pointer;
	}
}

.color_icon {
	height: 1.5em;
	width: 1.5em;
	border: none;
	border-radius: 100%;
}

.icon:focus {
	border: 2px solid black;
}